NOMBRE_NEGOCIO=Nombre del negocio
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=
SQL_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=SERVIDOR;DATABASE=BASE_DATOS;UID=USUARIO;PWD=CONTRASEÑA;TrustServerCertificate=yes;

GEMINI_API_KEY=

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=